.lgout {
	border-bottom: 1px solid rgba(255,255,255,0);
	transition: all 0.5s;
}

.lgout:hover {
	color: red !important;
	border-bottom: 1px solid rgba(255,255,255,1);
	border-radius: 4px;
}

.top-nav {
	font-size: 1rem;
	transition: all 0.3s;
	border-radius: 4px;
}

.top-nav:hover {
	color: rgba(0,195,255,1) !important;
	border-bottom: 1px solid rgba(255,255,255,1);
	margin-bottom: -4px;
}
