<div class="col-lg-4 cntr">
	<a routerLink=""><button type="button" class="btn btn-primary lgin">Log In</button></a>
	<a routerLink="/signup-form"><button type="button" class="btn btn-primary">Sign Up</button></a>
	<hr>
	<h4>Login</h4>
	<form>
	  <div class="form-group">
	    <label for="inputEmail">Email address</label>
	    <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Enter email">
	  </div>
	  <div class="form-group">
	    <label for="inputPassword">Password</label>
	    <input type="password" class="form-control" id="inputPassword" placeholder="Password">
	  </div>
	  <a routerLink="/dashboard"><button type="submit" class="btn btn-primary">Submit</button></a>
	</form>
</div>



