<div class="card text-white bg-dark mb-3 cntr" style="max-width: 30rem;">
  <h1 class="card-header">{{ title }}</h1>
  <div class="card-body">
    <h5 class="card-title">Name</h5>
    <p class="card-text">{{ users[0].name }}</p>
  </div>
  <div class="card-body">
    <h5 class="card-title">Registered Email</h5>
    <p class="card-text">{{ users[0].email }}</p>
  </div>
  <div class="card-body">
    <h5 class="card-title">Age</h5>
    <p class="card-text">{{ users[0].age }}</p>
  </div>
  <div class="card-body">
    <h5 class="card-title">Gender</h5>
    <p class="card-text">{{ users[0].gender }}</p>
  </div>
  <div class="card-body">
    <h5 class="card-title">Home Country</h5>
    <p class="card-text">{{ users[0].homeCountry }}</p>
  </div>
  <div class="card-body">
    <h5 class="card-title">Bio</h5>
    <p class="card-text">{{ users[0].bio }}</p>
  </div>
</div>