<div class="container">
	<div class="row">
		<div class="col-lg-8">
			<div class="card text-white bg-dark mb-3 cntr">

				<agm-map [latitude]="latitude" [longitude]="longitude" [zoom]=1>
					<agm-marker
						*ngFor="let marker of destinations"
						 [latitude]="marker.latitude"
						 [longitude]="marker.longitude"
						 [iconUrl]="{ url: '../assets/map-icons/red-icon.png', scaledSize: {width: 40, height: 40} }"
					></agm-marker>
					<agm-marker
						*ngFor="let marker2 of visits"
						 [latitude]="marker2.latitude"
						 [longitude]="marker2.longitude"
						 [iconUrl]="{ url: '../assets/map-icons/green-icon.png', scaledSize: {width: 40, height: 40} }"
					></agm-marker>
					<agm-marker
						*ngFor="let marker3 of filteredDestinations"
						 [latitude]="marker3.latitude"
						 [longitude]="marker3.longitude"
						 [iconUrl]="{ url: '../assets/map-icons/blue-icon.png', scaledSize: {width: 40, height: 40} }"
					>
						<agm-snazzy-info-window
							[maxWidth]='15'
							[closeWhenOthersOpen]=true
							[backgroundColor]='white'
							[fontColor]="'black'">
							<ng-template>
								User: {{ marker3.name }}
								<br>
								email: {{ marker3.email }}
							</ng-template>
						</agm-snazzy-info-window>
					</agm-marker>
				</agm-map>
			</div>

		</div>
		<div class="col-lg-4">
			<div class="card text-white bg-dark mb-3 cntr" style="max-width: 100vw; margin-top: 43px">
				<h3>Places I've Been</h3>
				<ul>
					<li
						*ngFor="let visit of visits"
					>{{ visit.name }}</li>
				</ul>
				<h3>Places I want to go!</h3>
				<ul>
					<li
						*ngFor="let destination of destinations"
					>{{ destination.name }}</li>
				</ul>
			</div>
		</div>
	</div>
</div>
