<div class="container">
	<div class="row">
		<div class="col-lg-8">
			<div class="card text-white bg-dark mb-3 cntr">

				<agm-map [latitude]="latitude" [longitude]="longitude">
				  <agm-marker
						*ngFor="let marker of destinations"
						 [latitude]="marker.latitude"
						 [longitude]="marker.longitude"
						 ></agm-marker>
				</agm-map>

			</div>

		</div>
		<div class="col-lg-4">
			<div class="card text-white bg-dark mb-3 cntr" style="max-width: 100vw; margin-top: 43px">
				<h3>Places I've Been</h3>
				<ul>
					<li
						*ngFor="let visit of visits"
					>{{ visit.name }}</li>
				</ul>
				<h3>Places I want to go!</h3>
				<ul>
					<li
						*ngFor="let destination of destinations"
					>{{ destination.name }}</li>
				</ul>
			</div>
		</div>
	</div>
</div>
