	<div class="row">

		<div class="col-sm-1">
		</div>

		<div class="col-sm-7 flex-center">
			<div class="card text-white bg-dark mb-3 map-card">
				<div class="map-header">
					<div class="map-buttons">
						<button class="btn btn-primary mpbtn" (click)="changeMapTerrain()">Terrain</button>
						<button class="btn btn-warning mpbtn" (click)="changeMapSatellite()">Satellite</button>
						<button class="btn btn-success mpbtn" (click)="changeMapRoadMap()">Road Map</button>
						<button class="btn btn-info mpbtn" (click)="changeMapHybrid()">Hybrid</button>
					</div>

					<div class="input-group mb-3">
					  <div class="input-group-prepend">
					    <span class="input-group-text" id="basic-addon1">Location</span>
					  </div>
				  	<input type="text" class="form-control" placeholder="Enter Location" aria-label="Location Search" aria-describedby="basic-addon1">
					</div>
				</div>

				<div class="map-container">
					<agm-map [mapTypeId]="mapType" [latitude]="latitude" [longitude]="longitude" [zoom]=2 (mapClick)="chooseLocation($event)">
						<agm-marker
							[latitude]="latitudeClicked"
							[longitude]="longitudeClicked"
							[iconUrl]="{ url: '../assets/map-icons/hotpink-icon.png', scaledSize: {width: 40, height: 40} }"
							*ngIf="locationChosen"
						>
							<agm-snazzy-info-window
								[maxWidth]="'auto'"
								[closeWhenOthersOpen]=true
								[backgroundColor]="'rgb(48,52,57, 0.75)'"
								[fontColor]="'white'"
								>
									<ng-template>
										<p>New Destination</p>
										<div class="input-group">
										  <div class="input-group-prepend">
										  </div>
										  <textarea class="form-control" aria-label="Trip" maxlength="322" placeholder="Enter details about your future trip"></textarea>
										</div>
										<span class="badge badge-primary">Save</span>

									</ng-template>
							</agm-snazzy-info-window>

						</agm-marker>
						<agm-marker
							*ngFor="let marker of destinations"
							 [latitude]="marker.latitude"
							 [longitude]="marker.longitude"
							 [iconUrl]="{ url: '../assets/map-icons/red-icon.png', scaledSize: {width: 40, height: 40} }"
						>
							<agm-snazzy-info-window
								[maxWidth]="'auto'"
								[closeWhenOthersOpen]=true
								[backgroundColor]="'rgb(48,52,57, 0.75)'"
								[fontColor]="'white'"
								>
									<ng-template>
										I want to go here!
										<br>
										<span class="badge badge-danger">Delete Pin</span>
									</ng-template>
							</agm-snazzy-info-window>
						</agm-marker>
						<agm-marker
							*ngFor="let marker2 of visits"
							 [latitude]="marker2.latitude"
							 [longitude]="marker2.longitude"
							 [iconUrl]="{ url: '../assets/map-icons/green-icon.png', scaledSize: {width: 40, height: 40} }"
						>
							<agm-snazzy-info-window
								[maxWidth]="'auto'"
								[closeWhenOthersOpen]=true
								[backgroundColor]="'rgb(48,52,57, 0.75)'"
								[fontColor]="'white'">
									<ng-template>
										I've been here!
									</ng-template>
							</agm-snazzy-info-window>
						</agm-marker>
						<agm-marker
							*ngFor="let marker3 of filteredDestinations"
							 [latitude]="marker3.latitude"
							 [longitude]="marker3.longitude"
							 [iconUrl]="{ url: '../assets/map-icons/blue-icon.png', scaledSize: {width: 40, height: 40} }"
						>
							<agm-snazzy-info-window
								[maxWidth]="'auto'"
								[closeWhenOthersOpen]=true
								[backgroundColor]="'rgb(48,52,57, 0.75)'"
								[fontColor]="'white'"
								>
									<ng-template>
										{{ marker3.name }} wants to go here!
										<br>
										email: {{ marker3.email }}
									</ng-template>
							</agm-snazzy-info-window>
						</agm-marker>
					</agm-map>
				</div>

			</div>
		</div>

		<div class="col-sm-3 flex-center">
			<div class="card text-white bg-dark mb-3 map-list" >
				<h4><span><img class="pin-key" src="../assets/map-icons/green-icon.png"></span>  Places I've Been</h4>
				<ul>
					<li
						*ngFor="let visit of visits"
					>{{ visit.name }}</li>
				</ul>
				<h4><span><img class="pin-key" src="../assets/map-icons/red-icon.png"></span>  Places I Want To go</h4>
				<ul>
					<li
						*ngFor="let destination of destinations"
					>{{ destination.name }}</li>
				</ul>
				<h4><span><img class="pin-key" src="../assets/map-icons/blue-icon.png"></span>  Places Others Want To Go!</h4>
				<ul>
					<li
						*ngFor="let destination of filteredDestinations"
					>{{ destination.destination_name }}</li>
				</ul>
			</div>
		</div>

		<div class="col-sm-1">
		</div>

	</div>
