/* You can add global styles to this file, and also import other style files */
html, body {
	/*background-image: linear-gradient(to right, rgb(63, 191, 191, 0.4), rgb(25, 76, 76, 0.4)),url('assets/img/hawaii-bg.jpg');*/
	/*background-repeat: none;*/
	/*background-size: cover;*/
	/*background-color: rgba(28,30,35,0.9);*/
	color: #FFF;
	font-family: 'Barlow', sans-serif;
}

p {
	font-size: 1.2em;
}

hr {
	background-color: rgba(255,255,255,0.2);
	width: 300px;
}

.cntr {
	margin-left: auto;
	margin-right: auto;
	margin-top: 6%;
	padding: 0.5%;
	border: solid 1px #4F5257;
	border-radius: 5px;
	background-color: rgba(49,51,55,0.75);
}

.bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .75;
    overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.bg-dark {
	background-color: rgb(48,52,57, 0.75) !important;
}

button.nav1.lgin {
	margin-top: 3.5%;
	margin-right: 4%;
	min-width: 8vw;
}

button.nav1 {
	margin-top: 3.5%;
	min-width: 8vw;
}

.top-nav {
	font-size: 1rem;
	transition: all 0.3s;
	border-radius: 4px;
}

.top-nav:hover {
	color: rgba(0,195,255,1) !important;
	border-bottom: 1px solid rgba(255,255,255,1);
	margin-bottom: -4px;
}

.col-lg-7 {
	margin-right: auto;
	margin-left: auto;
}
